glances==4.3.0.8

# https://github.com/nicolargo/glances/blob/develop/requirements.txt
# Base Requirements 
defusedxml
packaging
psutil>=5.6.7

bottle
docker>=6.1.1

influxdb>=1.0.0 # For InfluxDB < 1.8
influxdb-client # For InfluxDB >= 1.8
netifaces
paho-mqtt
py-cpuinfo
requests
scandir
zeroconf

# https://github.com/nicolargo/glances/blob/develop/docker-requirements.txt

pymdstat 
podman 
sparklines 
pySMART

python-dateutil
six
urllib3

# https://github.com/nicolargo/glances/blob/develop/optional-requirements.txt
netifaces2


# https://github.com/nicolargo/glances/blob/develop/webui-requirements.txt
fastapi>=0.82.0 # ReST API Framework
jinja2 # Template engine
orjson # JSON Serialization speedup
uvicorn # Webserver
